@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AntonioLight';
    src: url('../fonts/antonio-light-webfont.eot');
    src: url('../fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio-light-webfont.woff2') format('woff2'),
         url('../fonts/antonio-light-webfont.woff') format('woff'),
         url('../fonts/antonio-light-webfont.ttf') format('truetype'),
         url('../fonts/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
  /*box-sizing: border-box;*/
}
/*html {
  font-size: 18px;
}*/
header{
  background: url(../img/header.jpg) 50% 0 no-repeat;
  height: 514px;
  position: relative;
  overflow: hidden;
  /*background: url(../img/header.jpg);*/
  /*background-position: top;*/
  /*background-repeat: no-repeat;*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*margin: auto;*/
  /*overflow: hidden;*/
  /*text-align: center;*/
}
.logo{
  margin-top: 65px;
  text-align: center;
}
.logotype{
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  text-decoration: none;
  font-size:  2.25rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  /*text-transform: uppercase;*/
}
.logotype__er{
  color: #855f94;
  text-shadow: none;
  /*background: linear-gradient(#855f94, #33263a);*/
  /*-webkit-background-clip: text;*/
  /*-moz-background-clip: text;*/
  /*background-clip: text;*/
}
/*------TOP MENU------*/
.menu{
  width: 100px;
  border: 1px solid transparent;
  margin-top: 22px;
  text-align: center;
  left: 50%;
  position: absolute;
  margin-left: -50px;
  /*display: inline-block;*/
  /*border: 1px solid #000;*/
  /*border-radius: 15px;*/
  /*background-color: #3f3247;*/
  /*padding: 0 2rem;*/
  /*width: auto;*/
  /*height: auto;*/
}
.menu__list{

}
.menu__item{
  list-style: none;
}
.menu__link{
  text-decoration: none;
  color: #fff;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.menu__link:hover{
  border-bottom: 2px solid #edbfff;
  text-shadow: 0px 0px 12px #fff;
}
.menu__list_submenu{
  display: none;
}
.menu__item:hover .menu__list_submenu{
  display: block;
}

/*------SLIDER------*/
.slider{
  width: 100%;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -50%;
  /*text-align: left;*/
  /*border: 1px solid #000;*/
  /*margin: auto;*/
  /*margin-bottom: 20px;*/
}
.slider__head{
  font-size: 1.688rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fff;
  text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
  font-weight: 100;
  margin-left: 25%;
}
.slider__text{
  font-weight: 100;
  font-size: 0.875rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #edbfff;
  text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
  margin-left: 25%;
}
.slider__text_min_480{
  display: none;
}
.left-arrow{
  width: 30px;
  height: 45px;
  background: url("../img/left-arrow.png") -6px -3px no-repeat;
  margin-top: 10px;
  float: left;
  /*position: absolute;
  left: 1%;*/
  /*position: absolute;*/
  /*left: -60px;*/
  /*top: 20px;*/
}
.left-arrow:hover{
  background: url("../img/left-arrow.png") -36px -3px no-repeat;
}
.right-arrow{
  width: 30px;
  height: 45px;
  background: url("../img/right-arrow.png") -37px -3px no-repeat;
  margin-top: 10px;
  float: right;
  /*position: absolute;
  right: 1%;*/
  /*position: absolute;*/
  /*left: 231px;*/
  /*top: 20px;*/
}
.right-arrow:hover{
  background: url("../img/right-arrow.png") -5px -3px no-repeat;
}
/*------STYLIZED RADIO BUTTON------*/
/* Скрываем системный контрол */
/*input[type="radio"] {
	display: none;
}
label.for-radio span {
	background: url('../img/sprite_sliders.png') no-repeat;
	padding-left: 26px;		/* Ширина картинки + пара пикселей отступа от нее до текста
	line-height: 24px;
	height: 24px;
	display: block;
}
/* Смещения для невыбранной и выбранной радиокнопки
label.for-radio input[type="radio"] + span {
	background-position: top left;
}
label.for-radio input[type="radio"]:checked + span {
	background-position: bottom left;
}*/
.dotnav{
  width: 85px;
  height: 20px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -40px;
/*width: 200px;*/
/*height: 20px;*/
/*position: absolute;*/
/*left: 900px;*/
  /*margin-top: 30px;*/
}
.dotnav__list{
  list-style: none;
}
.dotnav__link{
  display: block;
  width: 17px;
  height: 17px;
}
.dotnav__item{
  width: 17px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
}
.dotnav__item:hover{
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
}
/*------GRADIENT AREA------*/
.gradient_area{
  background: linear-gradient(#755183, #36293e);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  overflow: hidden;
  padding: 70px 0px 63px;
  width: 100%;

  /*height: 500px;*/
  /*position: absolute;*/
  /*top: 515px;*/
  /*clear: both;*/
}
.news{
  max-width: 260px;
  margin: auto;
  padding: 10px 0;
  /*display: block;*/
  /*position: absolute;*/
}
.news__sprite1{
  background: url('../img/sprite_shapes-icons3.png') -4px -11px no-repeat;
  margin: 14px 8px;
  float: left;
  width: 26px;
  height: 26px;
}
.news__sprite2{
  background: url('../img/sprite_shapes-icons3.png') -41px -11px no-repeat;
  margin: 14px 8px;
  float: left;
  width: 27px;
  height: 26px;
}
.news__sprite3{
  background: url('../img/sprite_shapes-icons3.png') -78px -12px no-repeat;
  margin: 14px 8px;
  float: left;
  width: 26px;
  height: 26px;
}

.news__head{
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fff;
  font-weight: 100;
  text-shadow: 1px 1px 0px rgb(15, 21, 24);
  margin-left: 20%;
}
.news__text{
  text-shadow: 0.5px 0.866px 0px rgb( 15, 21, 24 );
  font-family: "OpenSansLight", Arial, sans-serif;
  color: #fff;
  font-weight: 100;
  margin-left: 20%;
  overflow: hidden;
  font-size: 0.8rem;
  max-height: 3.375rem;
  line-height: 1.125rem;
}
.news__more{
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fff;
  font-weight: lighter;
  text-shadow: 0.5px 0.866px 0px rgb( 15, 21, 24 );
  margin-left: 0px;
  float: right;
}
.news__more:hover{
  text-shadow: 0px 0px 14px #fff;
}
/*------CONTENT------*/
.content{
  height: 1207px;
  width: auto;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}
.articles{
  background-color: #fff;
  display: inline-block;
  margin: 70px 40px;
  /*min-width: 80%;*/
  min-height: 275px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}
.articles__header-holder{
  margin: 25px 0 0 45px;
}
.articles__pic{
  background: url(../img/face.png) center center no-repeat;
  width:48px;
  height: 48px;
  float: left;
  margin-top: 23px;
  margin-left: -24px;
}
.articles__header{
  font-size: 1.375rem;
  font-weight: 100;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #edbfff;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.6rem;
  /*text-shadow: 0px 0.866px 0px rgb( 255, 255, 255 );*/
  /*letter-spacing: .1rem;*/
}
.articles__header:first-child{
  color: #454545;
}
.articles__text{
  margin: 0px 0 0 45px;
  max-width: 75%;
  max-height: 11rem;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 1rem;
}
.dotnav--white{
  left: 50%;
  position: absolute;
  margin: -44px;
}
.dotnav--white .dotnav__item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,0.2);
}
.dotnav--white .dotnav__item:hover{
  border: 1px solid rgba(0,0,0,.2);
  background: rgba(0,0,0,.6);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
}
.updates{
  display: inline-block;
  min-width: 80%;
  height: 275px;
  position: relative;
  left: 50%;
  margin-left: -40%;
  /*margin: 40px 20px 20px 40px;*/
  /*border: 1px solid #000;*/
}
.updates__main-article{
  font-size: 1.375rem;
  font-weight: 100;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: rgb(69, 69, 69);
  text-align: left;
  text-transform: uppercase;
}
.updates__box-list{
  margin: 25px 0 0 45px;
}
.updates__header{
  text-align: left;
  font-family: "OpenSansLight", Arial, sans-serif;
}
.updates__text{
  text-align: left;
  font-family: "OpenSansLight", Arial, sans-serif;
}
.updates__link-more{
  font-size: 0.875rem;
  line-height: 3rem;
  font-family: "LeagueGothicRegular", tahoma, arial, sans-serif;
  text-transform: uppercase;
  color: rgb(69, 69, 69);
  font-weight: 100;
  text-decoration: none;
  position: absolute;
  right: 0px;
  /*float: right;*/
}
.updates__link-more:hover{
  text-decoration: underline;
}
.bokeh__list{
  list-style: none;
  position: absolute;
  top: 36px;
  left: -20px;
}
.bokeh__item1{
  width: 50px;
  height: 50px;
  background: url(../img/bokeh.png) center 0px no-repeat;
  border-radius: 50%;
  /*margin: 0 20px 0 0;*/
  position: absolute;
  left: -20px;
}
.bokeh__item2{
  width: 50px;
  height: 50px;
  background: url(../img/bokeh.png) 0px center no-repeat;
  border-radius: 50%;
  /*margin: 0 20px 0 0;*/
  position: absolute;
  left: -20px;
}
.bokeh__item3{
  width: 50px;
  height: 50px;
  background: url(../img/bokeh.png) center center no-repeat;
  border-radius: 50%;
  /*margin: 0 20px 0 0;*/
  position: absolute;
  left: -20px;
}
.line-between-content-and-sponsors-list{
  width: auto;
  height: 1px;
  background-color: #e6e6e6;
  border-bottom: #fff 1px solid;
  margin-top: 50px;
}
.sponsors-list{
  width: 300px;
  height: 400px;
  list-style: none;
  margin: 23px auto;
}
.sponsors-list__item{
  float: left;
  margin: 30px 10px;
}
.sponsor1{
  width: 103px;
  height: 68px;
  background: url(../img/sprite_logos2.png) 0 0 no-repeat;
}
.sponsor2{
  width: 101px;
  height: 68px;
  background: url(../img/sprite_logos2.png) -125px 0 no-repeat;
}
.sponsor3{
  width: 103px;
  height: 68px;
  background: url(../img/sprite_logos2.png) -4px -69px no-repeat;
}
.sponsor4{
  width: 103px;
  height: 68px;
  background: url(../img/sprite_logos2.png) -126px -68px no-repeat
}
.sponsor5{
  width: 115px;
  height: 68px;
  background: url(../img/sprite_logos2.png) 0px -140px no-repeat;
}
.sponsor6{
  width: 102px;
  height: 66px;
  background: url(../img/sprite_logos2.png) -147px -137px no-repeat;
}
footer{
  background: url(../img/footer.jpg) center center no-repeat;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}
.designed{
  font-family: "OpenSansLight", Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1.732px 2px rgb( 0, 0, 0 );
  padding-top: 50px;
}
.designed__text{
  display: inline;
  font-size: 0.8rem;
}
.designed__company-name{
  display: inline;
  font-size: 0.8rem;
}

/*==========  Mobile First Method  ==========*/
/*=============320px and more=============*/
@media /*only*/ screen and (min-width : 320px) {
html {
  font-size: 1rem;
}
header{
  height: 547px;
  }
.menu{
  width: 253px;
  border: 1px solid rgba(0,0,0,.8);
  border-radius: 10px;
  background: rgba(72,58,78,.8);
  z-index: 2;
  margin-top: 13px;
  margin-left: -122px;
  position: relative;
}
.menu__item{
  border-top: 1px solid #4f3d57;
  border-radius: 8px;
  /*line-height: 2.7rem;*/
  /*border-bottom: 1px solid #000;*/
}
.menu__link{
  line-height: 2.5rem;
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 2px solid transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}
.menu__list_submenu{

}
.menu__link:hover{
  border-top: 1px solid #4f3d57;
  border-bottom: 2px solid rgba(237,191,255,.8);
  background-color: rgba(38,29,43,.8);
  border-radius: 5px;
}
.slider_container{
  width: 480px;
  height: 304px;
  position: relative;
}
.slider__overflow{
  width: 100%;
  height: 245px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 220px;
  /*margin: auto;*/
}
.slider{

}
.slider__head{
  margin-left: 15%;
}
.slider__text{
  margin-left: 15%;
}
.slider__iphone{
  background: url(../img/iphone.png) 0 0 no-repeat;
  width: 192px;
  height: 304px;
  position: absolute;
  left: 50%;
  top: 210px;
}
.dotnav{
  top: 135px;
}
.news{
  max-width: 360px;
}
.articles{
  /*min-width: 85%;*/
}
.articles__text{
  min-width: 80%;
}
.updates{
  min-width: 60%;
  left: 50%;
  margin-left: -37%;
}
.updates__link-more{
  left: 187px;
}
.sponsors-list{
  width: 90%;
}
}
/*=============480px and more=============*/
@media /*only*/ screen and (min-width : 480px) {
html {
  font-size: 1.125rem;
}
header{
  background: url(../img/header.jpg) 50% 0 no-repeat;
    height: 800px;
  }
.logo{
  margin-top: 90px;
  margin-left: 20px;
  text-align: left;
  }
.menu{
  border: 1px solid transparent;
  width: 100%;
  background: none;
  border: none;
  margin: 0px 0px 0px 0px;
  text-align: left;
  left: 20px;
  top: 15px;
}
.menu__list{
  float: left;
}
.menu__item{
  border: none;
  padding: 0px 10px;
}
.menu__link{
  text-decoration: none;
  color: #fff;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.menu__link:hover{
  border-radius: 0px;
  border-bottom: 2px solid #edbfff;
  text-shadow: 0px 0px 12px #fff;
  background: none;
}
.menu__list_submenu{
  display: flex;
  position: absolute;
  top: 0px;
  left: 50px;
}
.menu__item:hover .menu__list_submenu{
  /*display: block;*/
  background: none;
  display: flex;
}
.menu__link:hover{
  border-top: 1px solid transparent;
  border-bottom: 2px solid #edbfff;
}
.slider__overflow{
  top: 240px;
  height: 400px;
  position: absolute;
}
.slider__head{
  font-size: 2.125rem;
}
.slider__text{
  font-size: 1.125rem;
}
.slider__text_min_480{
  display: inline;
  color: #fff;
  font-size: 0.875rem;
  font-family: "OpenSansLight", Arial, sans-serif;
  text-align: left;
  margin-left: 15%;
  max-width: 35%;
  max-height: 4.5rem;
  overflow: hidden;
  position: absolute;
  line-height: 1.125rem;
}
.dotnav{
  top: 325px;
}
.slider__iphone{
  background: url(../img/iphone_big.png) 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 210px;
}
.left-arrow{
  /*margin-left: 10px;*/
}
.right-arrow{
  /*margin-right: 10px;*/
}
.gradient_area{
  display: flex;
}
.news{
  max-width: 140px;
  max-width: 222px;
  padding: 0px 0;
  /*margin: 0 0 0 0 ;*/
}
.news__text{
  max-height: 6.75rem;
  line-height: 1.125rem;
  margin-bottom: 20px;
}
.updates__link-more {
  left: 210px;
}
.content{

}
.articles{
  width: 320px;
}
.articles__text{
  max-width: 65%;
}
.updates{
  margin-left: auto;
  min-width: 40%;
  left: 0%;
}
.sponsors-list{
  width: 100%;
}
.content {
    height: 800px;
}
}
/*=============768px and more=============*/
@media /*only*/ screen and (min-width : 768px) {
html {
  font-size: 1.25rem;
}
}
/*=============960px and more=============*/
@media /*only*/ screen and (min-width : 960px) {
  /*html {
    font-size: 1.375rem;
  }*/

}
